<div>
  <h1>Wählen Sie einen Modell:</h1>
  <div class="tiles">
    <st-tile>
      <h3>Basis</h3>
      <p>5 € / Monat</p>
      <div class="list-wrapper">
        <ul>
          <li>
            Unbegrenzte Anzahl Anwendungen
          </li>
          <li>1GB Speicherplatz</li>
          <li>
            1 Entwickler
          </li>
          <li>
            1 Jahr Updates
          </li>
        </ul>
      </div>
      <st-button label="Auswählen"></st-button>
    </st-tile>
    <st-tile>
      <h3>Pro</h3>
      <p>15 € / Monat</p>
      <ul>
        <li>
          Unbegrenzte Anzahl Anwendungen
        </li>
        <li>10GB Speicherplatz</li>
        <li>
          5 Entwickler
        </li>
        <li>
          3 Jahre Updates
        </li>
      </ul>
      <st-button [buttonType]="'primary'"
                 (click)="primaryButtonClick($event)"
                 label="Auswählen">
      </st-button>
    </st-tile>
    <st-pop-up #popUp
               headline="Kaufbestätigung"
               message="Möchten Sie den Artikel in der Pro Variante kaufen ?"
               (popUpClose)="onPopUpClose($event)">
    </st-pop-up>
  </div>
</div>
