/* You can add global styles to this file, and also import other style files */

body {
  background: #EE5757;
  display: flex;

  app-root {
    margin: auto;

    h1 {
      text-align: center;
      color: white;
    }
  }
}
